<div class="board-wrapper">
  <h2>{{board.title}}</h2>
  <input [(ngModel)]="titleValue"/>
  <button
    mat-stroked-button
    color="primary" 
    (click)="addColumn(titleValue)" 
    [disabled]="titleValue === ''"
  >
    Add card
  </button>
  <ul cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <li class="example-box" *ngFor="let column of columns" cdkDrag><h3>{{column.title}}</h3><br>
      <button
        mat-stroked-button
        color="primary"
        (click)="openTasksDialog(column)"
      >
       Tasks list
      </button>
      <button
        mat-stroked-button
        color="primary"
        (click)="deleteColumn(column._id)"
      >
        Delete card
      </button>
    </li>
  </ul>  
</div>