<mat-grid-list cols="4" rowHeight="200px">
  <mat-grid-tile *ngFor="let board of boards$ | async; trackBy: trackById">
    <mat-card class="card" (click)="openBoard(board._id)">
      <mat-card-header>
        <mat-card-title>{{ board.title }}</mat-card-title>
      </mat-card-header>
      <button
        mat-stroked-button
        color="primary"
        (click)="deleteBoard($event, board._id)"
      >
        Delete board
      </button>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card-add">
      <mat-form-field class="card-input">
        <mat-label>Please enter board title</mat-label>
        <input matInput #boardTitle />
      </mat-form-field>
      <button
        mat-stroked-button
        color="primary"
        (click)="addBoard(boardTitle.value)"
      >
        Add board
      </button>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
