<div *ngIf="column" class="form-edit-wrapper">
  <form>
    <h2>Edit Issue</h2>
    <label>Title <input name="title" [(ngModel)]="column.title" type="text" [placeholder]="column.title"></label>
    <label>Description <input name="description" [(ngModel)]="column.description" type="text"
        [placeholder]="column.description"></label>
    <label>Title <input id="title" name="title" [(ngModel)]="column.title" type="text"
        [placeholder]="column.title"></label>
    <label>Title <input id="title" name="title" [(ngModel)]="column.title" type="text"
        [placeholder]="column.title"></label>
    <label>Title <input id="title" name="title" [(ngModel)]="column.title" type="text"
        [placeholder]="column.title"></label>
    <label>Title <input id="title" name="title" [(ngModel)]="column.title" type="text"
        [placeholder]="column.title"></label>
    <button mat-stroked-button color="primary" (click)="closeEdit()">
      Close
    </button>
  </form>
</div>